<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/create">Create User</a>
        </div>
        <div class="table-container">
            <!-- <%= JSON.stringify(listUsers) %> -->
            <h2 class="title">List Users</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
                <% listUsers.map(users => { %>
                <tr>
                    <td><%= users.id%></td>
                    <td><%= users.email%></td>
                    <td><%= users.name%></td>
                    <td><%= users.city%></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
    </body>
</html>
